/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Container */
.navbar {
  width: 100%;
  height: 80px;
  background: #07162f;
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 60px;

  position: sticky;
  top: 0;
  z-index: 1000;

  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-icon {
  font-size: 40px;
  color: #3b82f6;
}

.logo h2 {
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.logo p {
  font-size: 12px;
  color: #cbd5e1;
}

/* Navigation Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
  position: relative;
}

/* Hover Effect */
.nav-links a:hover {
  color: #3b82f6;
}

/* Underline Animation */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;

  width: 0%;
  height: 2px;

  background: #3b82f6;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Buttons */
.nav-buttons {
  display: flex;
  gap: 15px;
}

.login-btn,
.register-btn {
  padding: 10px 22px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: 0.3s ease;
}

/* Login Button */
.login-btn {
  background: transparent;
  border: 1px solid #ffffff;
  color: white;
}

.login-btn:hover {
  background: white;
  color: #07162f;
}

/* Register Button */
.register-btn {
  background: #3b82f6;
  border: none;
  color: white;
}

.register-btn:hover {
  background: #2563eb;
  transform: translateY(-2px);
}

/* Responsive */
@media (max-width: 992px) {
  .navbar {
    padding: 0 25px;
  }

  .nav-links {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .navbar {
    padding: 0 20px;
  }

  .logo h2 {
    font-size: 20px;
  }

  .logo p {
    display: none;
  }

  .login-btn,
  .register-btn {
    padding: 8px 16px;
    font-size: 14px;
  }
}